/* main attributes */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  min-height: 100vh;
}

h2 {
font-family: 'Big Shoulders Display', cursive;
font-weight: 700;
color: hsl(0, 0%, 95%);
padding: 0px 0px 0px 50px;
}

a {
  text-decoration: none;
}

.main_container {
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  max-width: 55%;
  height: 400px;
  box-sizing: border-box;
}

.sedan_box {
  background-color: hsl(31, 77%, 52%);
  padding: 10px;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sedan_box a {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  text-decoration: none;
}

.sedan_box a:hover, .button_sedan:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  text-decoration: none;
}

.suv_box {
  background-color: hsl(184, 100%, 22%);
  padding: 10px;
  margin: 0;
}

.luxury_box {
  background-color: hsl(179, 100%, 13%);
  padding: 10px;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paragraphs {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 20px 50px;
}

.button_sedan {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: 2px solid white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  margin-left: 25px;
}

.button_suv {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border: 2px solid white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  margin-left: 25px;
}

.button_suv:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.button_lux {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: 2px solid white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  margin-left: 25px;
}

.button_lux:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
